<!DOCTYPE html>
<html>
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>
        	
        	Windfinder API - data display 

        </title>
    </head>

    <body>
		<div class="p-5" style="
			background-image: url('https://www.cycloneoi.com/medias/images/windy-12.jpg');
			background-size: cover;
  			background-position: center;
  			background-repeat: no-repeat;
			"
		>
			<div class="container p-5 bg-light bg-gradient-secondary rounded-lg">
				<h1 class="text-center text-bold">Windfinder API</h1>
				<h2 class="text-center text-bold">Le Porge</h2>
			</div>
			
			<div class="container bg-light rounded-lg">
				<div class="mt-5 p-2 bg-gradient-secondary">
					<ul class="nav nav-tabs m-2">
						<li class="nav-item">
							<a class="nav-link active" href="/">Home</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/data">Data</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/webscraper">Webscraping</a>
						</li>
					</ul>
					<div class="container mt-3 p-2">
						<h2> API Project</h2>
						<p>
							The purpose of this API is to present information related to the conditions in a windsurfing spot called 'Le Porge'. Several tabs are available in this API in order to preview and manipulate the data. 
							In the following sections, you will find a description of each tab. 
						</p>
						<h3> Dashboard </h3>
						<p>
							The first tab retrieves the latest data that were web scrapped. Thus, it displays the quality of the windsurfding conditions of the latest days.
							A metric is associated with each period in a given day. This indicator is based on three factors: the temperature, the direction and the speed of the wind, which both affect the quality of the windsurfing conditions.
							Is it to be noted that the calculus of this metric i.e "Terrible" / "Bad" / ... is mapped in the config.py file and can be customized.
						</p>
						<h3> Data </h3>
						<p>
							This is the tab where you can look for data in a precise time window. You can also export a csv from the data that been web scrapped. It is to be noted that  the filter also applies to data extracted through the csv.
							On top of that, an error would occur in case the format of the date is wrong.

							In the data section, you will find a table with the following parameters : [Date, Hour, Water Temperature, Wind Speed, Wind Direction]. 
							Let us briefly explained how the wind direction indicator is computed.
						</p>
						<h3> Webscraping </h3>
						<p>
							This is where you can load and retrieve the latest data by executing the webscraping. This may take time to complete (~3 min).
						</p>
						<h3> Additional feature - SQL queries </h3>
						<p>
							As an additional feature, you are able to execute SQL queries in the test_sql.ipynb file. For instance, you are able to execute queries and filter the data based on some parameters such as the wind speed or the temperature.
						</p>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer mt-auto py-3 bg-light">
			<div class="container">
				<span class="text-muted"> Master 203 - webscraper project</span>
			</div>
		</footer>
		

    </body>
</html>